{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}" >
{% endblock stylesheets %}

{% block javascripts %}
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ asset('public/js/general_datapicker.js') }}"></script>
{% endblock javascripts %}


{% block content %}
    {{ doctor }}
    {#<div class="input-group date" >#}
        {#<input type="text" class="datepicker">#}
        {#<div class="input-group-addon">#}
            {#<span class="glyphicon glyphicon-th"></span>#}
        {#</div>#}
        {#<div>#}
            {#<a href="{{ path('time_list', {{ doctor: doctor.id}}}) }}"></a>#}
        {#</div>#}
    {#</div>#}
    {{ form(form, 'app_ticket_date_add') }}
{% endblock content %}