{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
    <head>
        {{ app.user.username }}
    </head>
    <div>
        {% for ticket in ticketList %}
            <div>
                {{ ticket.patient }}
                {{ ticket.visitDate| date('d-M-Y') }}
                {{ ticket.visitTime| date('H:i') }}
                {{ ticket.doctor }}
            </div>
        {% endfor %}
    </div>
{% endblock content %}