{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/css/registration.css') }}" >
    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}" >
{% endblock stylesheets %}


{% block javascripts %}
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ asset('public/js/registration.js') }}"></script>
{% endblock javascripts %}

{% block fos_user_content %}
    <div class="register-container">
        <h1>Register Here</h1><br>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
        <div >
            <input type="submit" class="register register-submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
{% endblock fos_user_content %}